<div class="container" name="main">
<h1>당신의 미래는</h1><br><br>

<form action='/home/result'>
    이름을 입력해주세요<br><br>
    <input type="text" name='username'><br><br>
    성별을 체크하세요<br><br>
    <input type="radio" name="sex" value="woman"> 여자<br>
    <input type="radio" name="sex" value="man"> 남자<br><br>
    <input type="submit" value="Submit"><br><br>
    <%= image_tag "빵상아줌마.jpg" %>
</form>
</div>